.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*
*.ok
*.md
*.htaccess
/cache/
/tmp/
/logs/

# Medias Files
#-------------------------
*.mp3
*.zip
*.jpg
*.png
*.gif
*.psd
*.sql
test*
jquery*
svn*

# Spip Files
#-------------------------
ecrire/*
local/*
config/*
IMG/*
prive/*
plugins*
squelettes*
*.txt

# Codeigniter Files
#-------------------------
devices-*
devices/application/cache*
devices/application/config/database*
language*
logs*
images*
*IMG*
devices/application/hooks/*
devices/application/core/*
devices/application/language/*
devices/application/views/errors*
devices/application/libraries/*
devices/application/logs/*
devices/application/third_party/*
# devices/assets/*
devices/system/*
devices/tests/*
index.html

devices/config/PHP*
*lang*

bootstrap*
jquery*
*OR*
*STABLE*

IMG/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
